
                      <table id="myTable" class="display" style="">
                        <thead>
                            <tr>
                                <th>AMKA</th>
                                <th>Όνομα</th>
                                <th>Επίθετο</th>
                                <th>Χρήστης</th>
                                <th>Διαγραφή</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Παππάς</td>
                                <td>Μάριος</td>
                                <td>Γραμματεία</td>
                                <td> 
                                  <svg class="nav-icon" style="width: 20px; height:20px;">
                                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                </svg>
                              </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Κωστας</td>
                                <td>Λιβαθινος</td>
                                <td>Γραμματεία</td>
                                <td> 
                                  <svg class="nav-icon" style="width: 20px; height:20px;">
                                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                                </svg>
                              </td>
                            </tr>
                            <tr>
                              <td>3</td>
                              <td>Μαρια</td>
                              <td>Κοντού</td>
                              <td>Γραμματεία</td>
                              <td > 
                                <svg class="nav-icon" style="width: 20px; height:20px;">
                                <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                              </svg>
                            </td>
                          </tr>
                          <tr>
                            <td>4</td>
                            <td>Δήμητρα</td>
                            <td>Κοντού</td>
                            <td>Γραμματεία</td>
                            <td> 
                              <svg class="nav-icon" style="width: 20px; height:20px;">
                              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                            </svg>
                          </td>
                        </tr>
                        <tr>
                          <td>5</td>
                          <td>Νίκος</td>
                          <td>Ιωάννου</td>                         
                          <td>Ιατρός</td>
                          <td> 
                            <svg class="nav-icon" style="width: 20px; height:20px;">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                          </svg>
                        </td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Χρυσούλα</td>
                        <td>Γίωτη</td>
                        <td>Γραμματεία</td>
                        <td> 
                          <svg class="nav-icon" style="width: 20px; height:20px;">
                          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-trash"></use>
                        </svg>
                      </td>
                    </tr>
                        </tbody>
                    </table>
